/* 큰 틀 */
body {
  background-color: rgb(202, 232, 244);
  min-width: 800px;
  max-width: 1200px;
  margin: 0px auto auto auto;
}

/* 최상위 타이틀 */
.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

/* inputTitle 화면 가운데 정렬 */
.container-inputTitle {
  display: flex;
  justify-content: center;
}

/* input box */
.inputTitle {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 2px solid rgb(135, 206, 235);
}

/* input칸 너비 */
.form-floating {
  width: 300px;
}

/* '추가하기' 버튼 너비 */
.addBtn > button {
  width: 300px;
  background-color: rgb(135, 206, 235);
}

/* Working, Done 타이틀 글씨 */
.working > span {
  font-size: 25px;
  font-weight: bold;
}

.done > span {
  font-size: 25px;
  font-weight: bold;
}

/* Working, Done 박스 개별 디자인 */
.toDoBox {
  /* border: 2px solid rgb(129, 129, 215); */
  border: 2px solid rgb(135, 206, 235);
  background-color: white;
  border-radius: 30px;
  width: 250px;
  min-height: 170px;
  padding: 10px;
  margin: 14px;
}

/* Working, Done 각 박스의 title, body 디자인 */
.boxTitle,
.boxBody {
  margin: auto;
}

.boxTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(135, 206, 235);
}

.boxBody {
  font-size: 15px;
  margin: auto 10px 15px 10px;
  min-height: 45px;
  word-wrap: break-word;
}

.toDoBox:hover {
  box-shadow: 0px 0px 10px 0px rgb(32, 172, 227);
  /* background-color: rgb(231, 234, 251); */
}

/* Working, Done 안에서의 박스 정렬 */
.boxFlex {
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  border-top: 2px solid rgb(242, 242, 242);
}

/* 삭제, 완료, 취소 버튼 */
.toDoBox > button {
  width: 100px;
  margin-bottom: 10px;
}

.removeBtn {
  color: rgb(91, 91, 91);
  background-color: rgb(255, 236, 130);
  border: 0px;
  border-radius: 10px;
  margin-left: 12px;
}

.completeBtn,
.cancelBtn {
  color: rgb(91, 91, 91);
  border: 0px;
  border-radius: 10px;
  color: white;
}

.completeBtn {
  background-color: rgba(235, 154, 2, 0.92);
}

.cancelBtn {
  background-color: rgb(101, 161, 211);
}
